*{
    margin: 0;
    padding: 0;
    border: 0; 
 }
 
 header{
     display: flex;
     background-color: rebeccapurple;
     justify-content: space-between;
     align-items: center;
 }
 
 .logo{
     max-width: 100px;
     max-height: 100px;
 }
 
 .logo img{
     width: 100%;
 }
 
 ul{
     display: flex;
     margin-left: 20px;
     list-style: none;
     align-items: center;
     width: 700px;
     justify-content: space-around;
     padding-right: 20px;
 }
 
 ul li a{
     text-decoration: none;
     color: white;
 }
 
 ul li a:hover{
     /* color: wheat;
     text-decoration: underline; */
     font-size: 15pt;
     transition: ease-in-out 0.2s;
 }
 
 .fa{
     font-size: 50pt;
     color: rgb(73, 184, 217);
 }
 
 .menu{
     display: flex;
     justify-content: space-between;
     width:300px;
 }